{% extends "base.html" %}
{% block title %}Spotify Tracks{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{{ url_for('static', filename='form.js') }}"></script>
<main>
<h1>Spotify Tracks</h1>
    <h2>Your Top Tracks on Spotify</h2>
    <ul>
        {% for track in tracks %}
            <li>
                <strong>{{ track.name }}</strong> by {{ track.artists[0].name }} 
                (<a href="{{ track.external_urls.spotify }}" target="_blank">Listen on Spotify</a>)
            </li>
        {% else %}
            <p>No tracks available.</p>
        {% endfor %}
    </ul>
    <br>
    <a href="{{ url_for('profile') }}">Back to Profile</a>  
</main>
{% endblock %}