aniso8601==9.0.1
appdirs==1.4.4
argcomplete==1.12.0
async-timeout==4.0.2
blinker==1.9.0
Brlapi==0.8.2
cffi==1.14.5
chardet==4.0.0
click==8.1.7
cockpit @ file:///builddir/build/BUILD/cockpit-311.2/tmp/wheel/cockpit-311.2-py3-none-any.whl
cryptography==36.0.1
cupshelpers==1.0
dasbus==1.4
dbus-python==1.2.18
decorator==4.4.2
Deprecated==1.2.13
distro==1.5.0
ethtool==0.15
file-magic==0.4.0
Flask==3.1.0
Flask-RESTful==0.3.10
gpg==1.15.1
idna==2.10
importlib_metadata==8.5.0
iniparse==0.4
itsdangerous==2.2.0
Jinja2==3.1.4
jwcrypto==0.8
katello-host-tools==4.2.3
libcomps==0.1.18
libvirt-python==10.0.0
lxml==4.6.5
MarkupSafe==3.0.2
nftables==0.1
numpy==1.20.1
packaging==20.9
perf==0.1
pexpect==4.8.0
ply==3.11
psutil==5.8.0
ptyprocess==0.6.0
pycairo==1.20.1
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.6
pyenchant==3.2.0
PyGObject==3.40.1
pyinotify==0.9.6
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-linux-procfs==0.7.3
pytz==2024.2
pyudev==0.22.0
pyxdg==0.27
PyYAML==5.4.1
redis==4.3.3
requests==2.25.1
rpm==4.16.1.3
scour==0.38.1
selinux==3.6
sepolicy==3.6
setools==4.4.4
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.32/src
simplejson==3.17.6
six==1.15.0
sos==4.7.2
subscription-manager==1.29.40
systemd-python==234
urllib3==1.26.5
websockify==0.11.0
Werkzeug==3.1.3
wrapt==1.13.3
zipp==3.21.0
Flask-WTF==0.15.1
spotipy==2.16.1
Flask-Login==0.5.0
